%h1
  Control buttons
= link_to "Sleep", "javascript:sendCurrentState('sleep', 'sleeped', #{@toy.id})", class: "info-btn #{@toy.may_sleep?}"
= link_to 'Play', "javascript:sendCurrentState('play', 'played', #{@toy.id})", class: "info-btn #{@toy.may_play?}"
= link_to 'Eat', "javascript:sendCurrentState('eat', 'ate', #{@toy.id})", class: "info-btn #{@toy.may_eat?}"
= link_to 'Training', "javascript:sendCurrentState('train', 'trained', #{@toy.id})", class: "info-btn #{@toy.may_train?}"
= link_to 'Wake up !!!', "javascript:sendCurrentState('wake_up', 'wake_up', #{@toy.id})", class: "info-btn #{@toy.may_wake_up?}"
%br
= @toy.log_status_change