%h1
  Add Minion
= flash[:notice]
= form_for [current_user, @toy] do |f|
  %span
    Name:
  = f.text_field :name, required: :required
  = f.hidden_field(:user_id, {value: current_user.id})
  = f.submit "Create", class: 'main-btn'

= link_to 'Back', current_user, class: 'info-btn'
