%div{ class: 'container' }
  %div
    = render ('control_buttons')
    %div
      = render ('what_can_do')
  %div
    = render ('personal_minion')
  %div
    = render ('select_toy')
%div{ class: 'container' }
  %div
    = render ('history')
