.dashboard#admin-dashboard
  .header
    %h1 Admin Dashboard
    %h2= current_user.name
    %p Manage system
  .dashboard-side
    .left-side
      %ul
        %li
          %a( href="#")
            Manage users
        %li
          %a( href="#")
            Manage toys
    .right-side
      .users
        %b
          All users
        - User.all.each do |user|
          %table
            %tr
              %td
                ID:
                = user.id
              %td
                Name:
                = user.name
              %td
                Age:
                = user.age
              %td
                Gender
                = user.sex
              %td
                Email:
                = user.email
