.row
  .col.s12.m12.offset-m4
    #new-toy-dashboard
      %br
      #form-for-new-toy.form-for
        = form_for [:admin, @toy] do |f|
          = f.label :name
          = f.text_field :name, {required: ""}
          = f.collection_select :user_id, User.all, :id, :name, prompt: true
          = f.submit 'Create minion', class: 'main-btn'
