#personal_info
  = image_tag current_user.image.url(:medium)
  %br
  .chose-personal-photo
    = form_for current_user  do |f|
      = f.file_field :image
      = f.button 'Change new photo', class: 'btn-success'
  .person-page
    %p 
      = current_user.name
    %p
      Sex:  
      = current_user.sex || 'empty'
    %p
      Age:
      = current_user.age
    %p
      Email: 
      = current_user.email
  