.row
  .col.s12.m8.offset-m2.center
    .nav-wrapper
      = link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn'
      = link_to 'Create minion', new_user_toy_url(current_user, @toy), action: 'create', class: 'btn'
      - if !@toys.blank?
        = link_to 'Go to minions', user_toy_url(current_user, @toys.last.id), type: 'submit', class: 'btn'
  .col.s12.m4.offset-m4.cyan.lighten-5
    = render 'personal_info'
    %div
      %div
        %p
          Download CSV file all toys:
          = link_to user_path( controller: :toys, action: :index, format: 'csv' ) do
            %i.material-icons file_download