.block-for-pages
  .sign-out
    = link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'main-btn'
    = link_to 'Create minion', new_user_toy_url(current_user, @toy), action: 'create', class: 'cta-btn'
    - unless @toys.blank?
      = link_to 'Go to minions', user_toy_url(current_user, @toys.last.id), type: 'submit', class: 'main-btn'
  %br
  = render 'personal_info'
  %div
    %div
      %p
        Download:
        = link_to 'CSV', user_path( controller: :toys, action: :index, format: 'csv' )