.row
  .col.s12.m4.offset-m4
    #user-dashboard
      %table.table.table-striped
        %tbody
          %tr
            %td ID
            %td= @user.id
          %tr  
            %td Name
            %td= @user.name
          %tr 
            %td Age
            %td= @user.age
          %tr 
            %td Gender
            %td= @user.sex
          %tr 
            %td Email
            %td= @user.email
          %tr 
            %td Toys count
            %td= @user.toys.count