#user-dashboard
  %table.table.table-striped
    %thead
      %tr
        %td ID
        %td Name
        %td Age
        %td Gender
        %td Email
        %td Toys count
    %tbody
      %tr
        %td= @user.id
        %td= @user.name
        %td= @user.age
        %td= @user.sex
        %td= @user.email
        %td= @user.toys.count