!!! 5
%html
  %head
    %title Minion
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tag
  %body
    = custom_bootstrap_flash
    .dashboard#admin-dashboard.center
      .header
        %h1 Admin panel
        %p Manage system
      .dashboard-side
        #left-side-dashboard.left-side
          #navigation
            = link_to 'Manage users', admin_users_path
            %br
            = link_to 'Manage toys', admin_toys_path
            %br
            = link_to 'Return to the site', current_user
        #righ-side-dashboard.right-side
          = yield